h1 { transition: 0.4s;
	span { color: blue; }
}



.button {
    width: 100%;
}
@media screen and (min-width: 768px) {
  .button {
    width: 300px;
  }
}
@media screen and (min-width: 768px) {
  .button_secondawwwwwwwwry {
    background: #8c8;
    font-size: 16px;
  }
}
.button_secondary {
    background: #000;
}
.heading_primary {
    font-size: 30px
}
@media screen and (min-width: 768px) {
  .heading_primary {
    font-size: 50px;
  }
}